/* Grids for Mad Barbers */

[class*='col-'] {
	float: left;
	padding: 0;
	text-align: left;
}

.grid {
	width: 70%;
	margin: 0 auto;
<<<<<<< bd59d68dd381403bfabedb158588838c49e759fc
	padding-bottom: 2rem;
=======
>>>>>>> 65e0b31bdcb838c33b00f29beaa7eb0e953b4a97
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before; {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav:after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 2rem;
}

.col-1of4 {
	width: 25%;
	text-align: center;
}

.col-1of3 {
	width: 33.333%;
<<<<<<< bd59d68dd381403bfabedb158588838c49e759fc
	float: right;
}

.confirmed-style {
	float: right;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.col-1of3-right {
	width: 28%;
}

.col-2of3 {
	width: 61.666%;
	margin-right: 5%;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 2rem;
	float: left;
}

.col-1of4 {
	width: 25%;
}

/*added*/

.barbers {
	width:33.333%;
	float: left;
	padding-right: 2rem;
	padding-left: 2rem;
	text-align: left;
}

#ourinfo.col-1of3 {
	width: 33.333%;
	margin-left:66.666%;
	float:left;
}
#leavemsg.col-2of3 {
	width: 61.666%;
	margin-right:5%;
	margin-left:-100%;
	float:left;
}
@media (max-width: 50em) {
	[class*="col-"] {
	    width: 100%; 
	    margin-left: 0;
		float:none;
  	}
  	.col-1of4 {
  		width:50%;
  	}

  	/*contact page*/
  	#ourinfo.col-1of3 {
		width: 100%; 
	    margin-left: 0rem;
	    padding-left:2rem;
		float:none;
	}
	#leavemsg.col-2of3 {
		width: 100%; 
	    margin-left: -2.6rem;
	    margin-right: 0;
	    padding-left:4.5rem;
		float:none;
	}
}

/*nav in 50%*/
@media (min-width:32.5em) and (max-width: 50em) {
	/*index page*/
	#review.col-2of3 {
		width: 100%;
		display:inline-block;
	}
	#gimli.col-1of3-right {
		width: 100%;
		padding-right:2.5rem;
		padding-left: 2.5rem;
		display:inline-block;
	}

}

@media (max-width: 32.5em) {
	body {
		background-color: #FFF;
	}
	.grid {
		background-color: none;
	}

	/*home*/
	#review.col-2of3 {
		/*width:45%;*/
		float:left;
		padding:0;
	}
	#gimli.col-1of3-right {
		width: 100%;
		float:left;
		/*padding-right:2.5rem;*/
		/*padding-left: 2.5rem;*/
		padding:0;
		display:inline-block;
	}
	#intro.col-2of3, .aboutbarber{
		padding:0;
		margin: 0;
	}

	#promo.col-1of3-right {
		margin: 0 0 0 -2rem;
		width:100%;
	}
	/*barberbio*/
	#specialty.col-2of3 {
		margin: 0 0 0 -2rem;
		float: left;
	}

	#leavemsg.col-2of3 {
		width: 130%; 
	}

	/*contact page*/
  	#ourinfo.col-1of3 {
	    padding: 0;

	}
	#leavemsg.col-2of3 {
		padding: 2.5rem;
	}
}

@media (min-width: 50em) and (max-width: 79em) {
	/*preview page*/
	#right-col {
		width: 100%;
	}

	#details {
		width: 50%;
		padding-right: 2.5rem;
	}

	#left-col {
		width: 50%;
	}
=======
>>>>>>> 65e0b31bdcb838c33b00f29beaa7eb0e953b4a97
}

@media (max-width: 50em) {
	/*preview page*/
	#right-col {
		width: 100%;
	}

	#details {
		width: 100%;
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	#left-col {
		width: 100%;
	}

	.confirmed-style {
		width: 100%;
	}	

	.barbers {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 70em) {
	/*barberbio page*/
	.col-1of3-right {
		width: 100%;
		padding-right: 2rem;
		padding-left: 2rem;
	}

	#specialty {
		width: 100%;
		margin: 0 auto;
		padding: 0 2rem 0;
	}
	.barbers {
		padding: 0;
	}
}

<<<<<<< bd59d68dd381403bfabedb158588838c49e759fc
@media (min-width: 520px) {
	.grid {
		background-color: #FFF;
	}
}
=======
.col-1of4 {
	width: 25%;
}

/*added*/

.barbers {
	width:33.333%;
	float: left;
	padding: 0;
	text-align: left;
}

#ourinfo.col-1of3 {
	width: 33.333%;
	margin-left:66.666%;
	float:left;
}
#leavemsg.col-2of3 {
	width: 61.666%;
	margin-right:5%;
	margin-left:-100%;
	float:left;
}

@media (max-width: 49.938em) {
	[class*="col-"] {
	    width: 100%; 
	    margin-left: 0;
		float:none;
  	}
  	.col-1of4 {
  		width:50%;
  	}

  	/*contact page*/
  	#ourinfo.col-1of3 {
	width: 100%; 
	    margin-left: 0;
		float:none;
	}
	#leavemsg.col-2of3 {
		width: 100%; 
	    margin-left: 0;
		float:none;
	}
}

/*nav in 50%*/
@media (min-width:32.5em) and (max-width: 49.938em) {
	/*index page*/
	#review.col-2of3 {
		width:60%;
		display:inline-block;
	}
	#gimli.col-1of3-right {
		width: 25%;
		margin-left: 5%;
		display:inline-block;
	}

}
@media (min-width: 32.5em) and (max-width: 38.688em) {

}

@media (max-width: 32.458em) {
	#review.col-2of3 {
		/*width:45%;*/
		float:left;
	}
	#gimli.col-1of3-right {
		width: 25%;
		float:left;
		margin:0 1rem 0 0;
		display:inline-block;
	}
}
>>>>>>> 65e0b31bdcb838c33b00f29beaa7eb0e953b4a97
