/* Grids for Mad Barbers */

[class*='col-'] {
	float: left;
	padding: 0;
	text-align: left;
}

.grid {
	width: 70%;
	margin: 0 auto;
}

.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before; {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

nav:after {
	content: "";
	display: block;
	clear: both;
	margin-bottom: 2rem;
}

.col-1of4 {
	width: 25%;
	text-align: center;
}

.col-1of3 {
	width: 33.333%;
}

.col-1of3-right {
	width: 28%;
	margin-left: 5%;
}

.col-2of3 {
	width: 61.666%;
	margin-right:5%;
}

.col-1of4 {
	width: 25%;
}

/*added*/

.barbers {
	width:33.333%;
	float: left;
	padding: 0;
	text-align: left;
}

#ourinfo.col-1of3 {
	width: 33.333%;
	margin-left:66.666%;
	float:left;
}
#leavemsg.col-2of3 {
	width: 61.666%;
	margin-right:5%;
	margin-left:-100%;
	float:left;
}

@media (max-width: 49.938em) {
	[class*="col-"] {
	    width: 100%; 
	    margin-left: 0;
		float:none;
  	}
  	.col-1of4 {
  		width:50%;
  	}

  	/*contact page*/
  	#ourinfo.col-1of3 {
	width: 100%; 
	    margin-left: 0;
		float:none;
	}
	#leavemsg.col-2of3 {
		width: 100%; 
	    margin-left: 0;
		float:none;
	}
}

/*nav in 50%*/
@media (min-width:32.5em) and (max-width: 49.938em) {


}
@media (min-width: 32.5em) and (max-width: 38.688em) {
}

@media (max-width: 32.458em) {
}
